<h5 style="text-align:center">Gate Pass</h5>
<button type="button" class="btn btn-primary" style="float:right" (click)="openGatepassDialog('','')">Create Gatepass</button>
<br />
<br />
<br />
<p-table #dt [value]="gatepassModelList">
  <ng-template pTemplate="header">
    <tr class="mprltbldata">
      <th style="text-align:center;width:70px">S.No</th>
      <th style="text-align:center">GatePass Id</th>
      <!--<th style="text-align:center">Material</th>
  <th style="text-align:center">Qty</th>-->
      <!--<th style="text-align:center">Status</th>-->
      <th style="text-align:center">Type</th>
      <th style="text-align:center">Supplier Name</th>
      <th style="text-align:center">Vehicle No</th>
      <th style="text-align:center">Reason</th>
      <th style="text-align:center">Approver Status</th>
      <th style="text-align:center">Creator Name</th>
      <th style="text-align:center">Created Date</th>
      <th style="text-align:center">Edit</th>
      <th style="text-align:center">Print</th>
      <th *ngIf="employee.RoleId=='5'" style="text-align:center">Update Return Date</th>
    </tr>
    <tr>
      <th></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'gatepassid', 'contains')"></th>
      <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
  <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quantity', 'contains')"></th>-->
      <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'status', 'contains')"></th>-->
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'gatepasstype', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'vendorname', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'vehicleno', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'reasonforgatepass', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'approverstatus', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'name', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'createddate', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control"></th>
      <th> <input pInputText type="text" class="form-control"></th>
      <th *ngIf="employee.RoleId=='5'"> <input pInputText type="text" class="form-control"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
    <tr>
      <td class="ptable-cell" style="text-align:right">
        {{ri+1}}
      </td>
      <td class="ptable-cell" style="text-align:center"><a *ngIf="rowData.gatepassid" [routerLink]="['/WMS/GatePassApprover',rowData.gatepassid]" routerLinkActive="active">{{rowData.gatepassid}}</a></td>
      <td class="ptable-cell" style="text-align:center">{{rowData.gatepasstype}}</td>
      <td class="ptable-cell" style="text-align:center">{{rowData.vendorname}}</td>
      <td class="ptable-cell" style="text-align:right">{{rowData.vehicleno}}</td>
      <td class="ptable-cell" style="text-align:center">{{rowData.reasonforgatepass}}</td>
      <td class="ptable-cell" style="text-align:right">{{rowData.approverstatus}}</td>
      <td class="ptable-cell" style="text-align:center">{{rowData.name}}</td>
      <td class="ptable-cell" style="text-align:center">{{rowData.createddate | date :  constants.dateFormat}}</td>
      <td class="ptable-cell" style="text-align:center"><button *ngIf="rowData.approverstatus!='Approved'" type="button" icon="fa fa-edit" pButton aria-hidden="true" (click)="openGatepassDialog(rowData,ri,'gatepassdialog')"></button></td>
      <td class="ptable-cell" style="text-align:center"><button *ngIf="rowData.approverstatus=='Approved'" type="button" icon="fa fa-print" pButton aria-hidden="true" (click)="showprint(rowData)"></button></td>
      <td *ngIf="employee.RoleId=='5'" class="ptable-cell" style="text-align:center"><button  *ngIf="employee.RoleId=='5' && rowData.approverstatus=='Approved' && rowData.print==false"  type="button" icon="fa fa-pencil" pButton aria-hidden="true" (click)="openGatepassDialog(rowData,ri,'updateReturnedDateDialog')"></button></td>
    </tr>
  </ng-template>
</p-table>
<br />
<p-dialog  header="Gatepass" [(visible)]="gatepassdialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'70%','overflow':'auto'}">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label for="itemlocation" class="form-label">Select Type</label>
      <div class="form-inline-list">
        <select class="form-control forms-input" [(ngModel)]="gatepassModel.gatepasstype">
          <option value=0>Select</option>
          <option value='Returnable'>Returnable</option>
          <option value='Non Returnable'>Non Returnable</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Reason</label>
      <div class="form-inline-list">
        <select class="form-control forms-input" [(ngModel)]="gatepassModel.reasonforgatepass">
          <option value=0>Select</option>
          <option value='Sample'>Sample</option>
          <option value='Testing/Repair'>Testing/Repair</option>
          <option value='Others'>Others</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Vehicle no (optional)</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.vehicleno" />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Supplier</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.vendorname" />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Reference No</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.referenceno" />
      </div>
    </div>
  </div>
  <b>Add Material :</b>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Material</label>
      <div class="form-inline-list">
        <p-autoComplete [(ngModel)]="material" [suggestions]="searchItems" field="name" (completeMethod)="bindSearchListData($event,'ItemId')"></p-autoComplete>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Quantity</label>
      <div class="form-inline-list">
        <input type="number" class="form-control" [(ngModel)]="materialistModel.quantity" />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Price(INR)</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="materialistModel.materialcost" />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Remarks</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="materialistModel.remarks" />
      </div>
    </div>
  </div>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Expected  Date</label>
      <div class="form-inline-list">
        <p-calendar class="mprldatepick" [(ngModel)]="materialistModel.expecteddate" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar>
      </div>
    </div>
    <div *ngIf="gatepassModel.gatepasstype=='Returnable'" class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Returned  Date</label>
      <div class="form-inline-list">
        <p-calendar class="mprldatepick" [(ngModel)]="materialistModel.returneddate" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group mt-4">
      <button type="button" icon="fa fa-plus" pButton aria-hidden="true" pTooltip="Add material" (click)="addMaterial()"></button>
    </div>
  </div>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p-table *ngIf="gatepassModel.materialList.length>0" [value]="gatepassModel.materialList" [style]="{'width':'97%','height':'80%','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell">S No</th>
            <th class="ptable-cell">Material</th>
            <th class="ptable-cell">Materia Description</th>
            <th class="ptable-cell">Quantity</th>
            <th class="ptable-cell">Price</th>
            <th class="ptable-cell">Remarks</th>
            <th class="ptable-cell">Expected Date</th>
            <th *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell" style="width:200px">Returned Date</th>
            <th class="ptable-cell"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:right"> {{ri+1}} </td>
            <td class="ptable-cell" style="text-align:right"> {{rowData.materialid}} </td>
            <td class="ptable-cell" style="text-align:right"> {{rowData.materialdescription}} </td>
            <td class="ptable-cell" style="text-align:right"><input style="text-align:right" pInputText type="number" class="form-control" [(ngModel)]="rowData.quantity" (keyup)="checkMaterialandQty(rowData,ri)"></td>
            <td class="ptable-cell" style="text-align:right">{{rowData.materialcost}}</td>
            <td class="ptable-cell" style="text-align:right"> {{rowData.remarks}} </td>
            <td class="ptable-cell" style="text-align:right">{{rowData.expecteddate | date :  constants.dateFormat}}</td>
            <td *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell" style="text-align:center">{{rowData.returneddate | date :  constants.dateFormat}}
            <td class="ptable-cell" style="text-align:center"> <button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid,ri)"></button></td>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="onSubmitgatepassDetails()" label="Submit"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog  header="Gatepass" [(visible)]="updateReturnedDateDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'70%','overflow':'auto!important'}">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label for="itemlocation" class="form-label"><b>GatePass Id: </b> </label>&nbsp;{{gatepassModel.gatepassid}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label for="itemlocation" class="form-label"><b>Type: </b> </label>&nbsp;{{gatepassModel.gatepasstype}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label class="form-label"><b>Reason: </b></label>&nbsp;{{gatepassModel.reasonforgatepass}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label class="form-label"><b>Supplier: </b></label>&nbsp;{{gatepassModel.vendorname}}
    </div>
  </div>
  <br />
  <b>List of Materials:</b>
  <div class="row " style="margin-top:10px">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p-table *ngIf="gatepassModel.materialList.length>0" [value]="gatepassModel.materialList" [style]="{'width':'80%','height':'80%','overflow':'auto!important'}">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th class="ptable-cell">S No</th>
              <th class="ptable-cell">Material</th>
              <th class="ptable-cell">Materia Description</th>
              <th class="ptable-cell">Quantity</th>
              <th class="ptable-cell">Price</th>
              <th class="ptable-cell">Remarks</th>
              <th class="ptable-cell">Expected Date</th>
              <th *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell" style="width:200px">Returned Date</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
            <tr>
              <td class="ptable-cell" style="text-align:right"> {{ri+1}} </td>
              <td class="ptable-cell" style="text-align:right"> {{rowData.materialid}} </td>
              <td class="ptable-cell" style="text-align:right"> {{rowData.materialdescription}} </td>
              <td class="ptable-cell" style="text-align:right">{{rowData.quantity}}</td>
              <td class="ptable-cell" style="text-align:right">{{rowData.materialcost}}</td>
              <td class="ptable-cell" style="text-align:right"> {{rowData.remarks}} </td>
              <td class="ptable-cell" style="text-align:right">{{rowData.expecteddate | date :  constants.dateFormat}}</td>
              <td *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell" style="text-align:center"> <p-calendar class="mprldatepick" *ngIf="employee.RoleId=='5'" dateFormat="dd/mm/yy" [(ngModel)]="rowData.returneddate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar></td>
          </ng-template>
        </p-table>
      </div>/
    </div><br /><br /><br />
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="onSubmitgatepassDetails()" label="Submit"></button>
      </div>
    </p-footer>
</p-dialog>





