<div class="watermark">Watermark</div>
<div *ngIf="materialList.length>0" id="printTemplate">
  <div class="row"><div class="col-lg-4 col-md-4 col-sm-4"></div><div class="col-lg-4 col-md-4 col-sm-4"><b>Yokogawa India Limited</b></div></div>
  <div class="row mt-2"><div class="col-lg-4 col-md-4 col-sm-4"></div><div class="col-lg-6 col-md-6 col-sm-6"><b>Plot No.96, Complex, Hosur Rd, Electronics City Phase 1, Electronic City, Bengaluru, Karnataka 560100</b></div></div>
  <div class="row mt-2"><div class="col-lg-4 col-md-4 col-sm-4"></div><div class="col-lg-4 col-md-4 col-sm-4"><b>Material GatePass</b></div></div>
  <div class="row mt-5">
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label"><b>GatePass Id:</b></label>&nbsp;<span>{{materialList[0].gatepassid}}</span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label"><b>Sendor Name:</b></label>&nbsp;<span>{{materialList[0].name}}</span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label"><b>Supplier Name:</b></label>&nbsp;<span>{{materialList[0].vendorname}}</span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label"><b>Type:</b></label>&nbsp;<span>{{materialList[0].gatepasstype}}</span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label"><b>Reason:</b></label>&nbsp;<span>{{materialList[0].reasonforgatepass}}</span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label"><b>Vehicle No:</b></label>&nbsp;<span>{{materialList[0].vehicleno}}</span>
    </div>
  </div>
  <br />
  <div class="row mt-2">
    <p-table *ngIf="materialList.length>0" [value]="materialList" [style]="{'width':'97%','height':'80%','overflow':'auto!important'}">
      <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th class="ptable-cell">S No</th>
          <th class="ptable-cell">Material</th>
          <th class="ptable-cell">Materia Description</th>
          <th class="ptable-cell">Quantity</th>
          <th class="ptable-cell">Value</th>
          <th class="ptable-cell">Remarks</th>
          <th class="ptable-cell">Expected Date</th>
          <th *ngIf="materialList[0].gatepasstype=='Returnable'" class="ptable-cell">Returned Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
        <tr>
          <td class="ptable-cell" style="text-align:right"> {{ri+1}} </td>
          <td class="ptable-cell" style="text-align:right"> {{rowData.materialid}} </td>
          <td class="ptable-cell" style="text-align:right"> {{rowData.materialdescription}} </td>
          <td class="ptable-cell" style="text-align:right">{{rowData.quantity}}</td>
          <td class="ptable-cell" style="text-align:right">{{rowData.materialcost}}</td>
          <td class="ptable-cell" style="text-align:right"> {{rowData.remarks}} </td>
          <td class="ptable-cell" style="text-align:right">{{rowData.expecteddate | date :  constants.dateFormat}}</td>
          <td *ngIf="materialList[0].gatepasstype=='Returnable'" class="ptable-cell" style="text-align:right">{{rowData.returneddate | date :  constants.dateFormat}}</td>
      </ng-template>
    </p-table>
  </div>

  <div class="printfooter">
    <div class="row mt-4">
      <label>The material are checked and found correct.</label>
    </div>
    <div class="row mt-2">
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label">Date</label>:&nbsp;<input type="text" class="form-control" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label">Security Sign</label>:&nbsp;<input type="text" class="form-control" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label">Sender Sign</label>:&nbsp;<input type="text" class="form-control" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label">Taxation Sign</label>:&nbsp;<input type="text" class="form-control" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label">Department HOD</label>:&nbsp;<input type="text" class="form-control" />
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <button type="button" class="btn btn-primary" (click)="printGatePass()">{{prnttxt}}</button>
    </div>
  </div>
</div>
