<h5 style="text-align:center">Gate Pass</h5>
<button type="button" class="btn btn-primary" style="float:right" (click)="openGatepassDialog()">Create Gatepass</button>
<br />
<br />
<br />
<p-table #dt [value]="gatepassModelList">
  <ng-template pTemplate="header">
    <tr class="mprltbldata">
      <th style="text-align:center;width:70px">S.No</th>
      <th style="text-align:center">Code</th>
      <!--<th style="text-align:center">Material</th>
      <th style="text-align:center">Qty</th>-->
      <!--<th style="text-align:center">Status</th>-->
      <th style="text-align:center">Type</th>
      <th style="text-align:center">Reference No</th>
      <th style="text-align:center">Vehicle No</th>
      <th style="text-align:center">Creator Name</th>
      <th style="text-align:center">Created Date</th>
      <th style="text-align:center">Edit</th>
    </tr>
    <tr>
      <th></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'gatepassid', 'contains')"></th>
      <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quantity', 'contains')"></th>-->
      <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'status', 'contains')"></th>-->
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'gatepasstype', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'vehicleno', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'referenceno', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'name', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'createddate', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control"></th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
    <tr>
      <td class="ptable-cell" style="text-align:right">
        {{ri+1}}
      </td>
      <td class="ptable-cell" style="text-align:center">{{rowData.gatepassid}}</td>
      <!--<td class="ptable-cell" style="text-align:center">{{rowData.material}}</td>
      <td class="ptable-cell" style="text-align:right">{{rowData.quantity}}</td>-->
      <!--<td class="ptable-cell" style="text-align:center">{{rowData.status}}</td>-->
      <td class="ptable-cell" style="text-align:center">{{rowData.gatepasstype}}</td>
      <td class="ptable-cell" style="text-align:right">{{rowData.referenceno}}</td>
      <td class="ptable-cell" style="text-align:right">{{rowData.vehicleno}}</td>
      <td class="ptable-cell" style="text-align:center">{{rowData.name}}</td>
      <td class="ptable-cell" style="text-align:center">{{rowData.createddate | date :  constants.dateFormat}}</td>
      <td class="ptable-cell" style="text-align:center"><button type="button" icon="fa fa-edit" pButton aria-hidden="true" (click)="openGatepassDialog(rowData,ri)"></button></td>
    </tr>
  </ng-template>
</p-table>
<br />
<p-dialog #dialog header="Gatepass :" [(visible)]="gatepassdialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'60%','height':'70%','overflow':'auto'}">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label for="itemlocation" class="form-label">Select Type</label>
      <div class="form-inline-list">
        <select class="form-control forms-input" [(ngModel)]="gatepassModel.gatepasstype">
          <option value=0>Select</option>
          <option value='Returnable'>Returnable</option>
          <option value='Non Returnable'>Non Returnable</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label class="form-label">Reference no (optional)</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.referenceno" />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label class="form-label">Vehicle no (optional)</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.vehicleno" />
      </div>
    </div>
  </div>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label class="form-label">Material</label>
      <div class="form-inline-list">
        <p-autoComplete [(ngModel)]="material" [suggestions]="searchItems" field="name" (completeMethod)="bindSearchListData($event,'ItemId')"></p-autoComplete>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label class="form-label">Quantity</label>
      <div class="form-inline-list">
        <input type="number" class="form-control" [(ngModel)]="materialistModel.quantity" />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 form-group mt-4">
      <button type="button" icon="fa fa-plus" pButton aria-hidden="true" (click)="addMaterial()"></button>
    </div>
  </div>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <p-table *ngIf="gatepassModel.materialList.length>0" [value]="gatepassModel.materialList" [style]="{'width':'97%','height':'80%','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell">S No</th>
            <th class="ptable-cell">Material</th>
            <th class="ptable-cell">Materia Description</th>
            <th class="ptable-cell">Quantity</th>
            <th class="ptable-cell"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:right"> {{ri+1}} </td>
            <td class="ptable-cell" style="text-align:right"> {{rowData.materialid}} </td>
            <td class="ptable-cell" style="text-align:right"> {{rowData.materialdescription}} </td>
            <td class="ptable-cell" style="text-align:right"><input style="text-align:right" pInputText type="number" class="form-control" [(ngModel)]="rowData.quantity" (keyup)="checkMaterialandQty(rowData,ri)"></td>
            <td class="ptable-cell" style="text-align:center"> <button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid,ri)"></button></td>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="onSubmitgatepassDetails()" label="Submit"></button>
    </div>
  </p-footer>
</p-dialog>


