<h5 style="text-align:center">Material Request List</h5>

<p-table  #dt [value]="requestList">
  <ng-template pTemplate="header">
    <tr class="mprltbldata">
      <th>S.No</th>
      <th>PO No</th>
      <th>Project Name</th>
      <th>Material</th>
      <th>Material Description</th>
      <th>PO Quantity</th>
      <th>Requested Quantity</th>
      <th>Received Quantity</th>
      <th style="width:200px">Acknowledge</th>
    </tr>
    <tr>
      <th></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectname', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quotationqty', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestedquantity', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quotationqty', 'contains')"></th>
      <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'ackremarks', 'contains')"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
    <tr>
      <td class="ptable-cell">{{ri+1}}</td>
      <td class="ptable-cell">{{rowData.pono}}</td>
      <td class="ptable-cell">{{rowData.projectname}}</td>
      <td class="ptable-cell">{{rowData.material}}</td>
      <td class="ptable-cell">{{rowData.materialdescription}}</td>
      <td class="ptable-cell">{{rowData.quotationqty}}</td>
      <td class="ptable-cell">
        <span *ngIf="rowData.approvedstatus=='approved'">{{rowData.requestedquantity}}</span>
        <input *ngIf="rowData.approvedstatus!='approved'" pInputText type="number" class="form-control" [(ngModel)]="rowData.requestedquantity" (change)="reqQtyChange(rowData)">
      </td>
      <td class="ptable-cell">{{rowData.quotationqty}}</td>
      <td class="ptable-cell">
        <div *ngIf="rowData.approvedstatus=='approved'" class="form-inline">
          <p-checkbox [(ngModel)]="rowData.status" binary="true" (click)="ackStatusChanges()"></p-checkbox> &nbsp;&nbsp;
          <textarea   type="text" style="width:140px" class="form-control" [(ngModel)]="rowData.ackremarks"></textarea>
        </div>
        <span *ngIf="rowData.ackstatus=='received'">{{rowData.ackremarks}}</span>
      </td>
    </tr>
  </ng-template>
</p-table><br /><br />
<div class="footer">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 " style="margin-top:5px;margin-bottom:5px">
      <button type="button" class="btn btn-primary" (click)="onMaterialRequestDeatilsSubmit()">Material Request</button>

    </div>
    <div *ngIf="showAck" class="col-lg-2 col-md-2 col-sm-2 " style="margin-top:5px;margin-bottom:5px">
      <button type="button" class="btn btn-primary" (click)="materialAckUpdate()">Send Acknowledge</button>
    </div>
  </div>
</div>
