<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle" *ngIf="currentUser">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo pl-0"><img src="assets/banner1.jpg" height="70" width="187"></a>

  </div>
</div>
<div class="header-container">
  <span id="header" class="headerTxt">Warehouse Management System</span>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action" *ngIf="currentUser">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="currentUser.name"
               [picture]="picture1">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
